<!DOCTYPE html>
<html>
<head>
    <title>Monitor de Páginas</title>
    <link href="./static/styles.css" rel="stylesheet"/>
   <script>
     function showMonitoringMessage() {
        var messageElement = document.getElementById("monitoring-message");
        messageElement.style.display = "block";}
   </script>
</head>
<body>
    <h1>Monitor de Páginas</h1>
    <form method="post" onsubmit="showMonitoringMessage();">
        <label for="site">Selecciona el sitio a monitorear:</label>
        <select name="site" required>
            <option value="afa">AFA</option>
            <option value="segundopalo_primeraa">Segundopalo-PrimeraA</option>
            <option value="segundopalo_primerab">Segundopalo-PrimeraB</option>
            <option value="sabadogol">Sabadogol</option>
        </select><br>
        <input type="hidden" name="from_email" value="clara.santillan.01@gmail.com">
        <label for="to_email">Correo electrónico de destino:</label>
        <input type="email" name="to_email" required><br>
        <button type="submit">Iniciar Monitoreo</button>
      </form>
      <div id="monitoring-message" style="display: none;">La web está siendo monitoreada. Por favor, espera...</div>
    <footer>
        <p>Sitio creado por Clara Santillán, Copyright 2023</p>
    </footer>
</body>
</html>
